// Global Colors

$card-header-color: rgba(0, 0, 0, .987);
$card-body-itemName-color: rgba(0, 0, 0, .654);
$cmd-line-bg-color: #efefef;
$cmd-line-font-family: "Monaco", "Menlo", monospace;
$divider-line-color: #e0e0e0;
$cp-text-color: rgba(0, 0, 0, .654);
